.c-carousel__slides>li>img {
  display: block;
  height: 100px;
  margin-right: 10px;
  max-width: 150px;
}

.c-carousel {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.c-carousel__arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 35%;
  z-index: 1;
  border-radius:50px;
  /*-webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);*/
  background-color: #444444a6;
}
.c-carousel__arrow>i {
  color: #fff;
  
  font-size: 20px;
  font-weight: 600;
}
.c-carousel__arrow--left>i {
  margin: 5px 10px;
}
.c-carousel__arrow--right>i {
  margin: 5px 12px;
}
.c-carousel__arrow--left {
  left: 15px;
}
.c-carousel__arrow--right {
  right: 15px;
}
.c-carousel__slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*margin: 0;
  padding: 0;*/
  list-style: none;
  will-change: transform;
}
