a:hover,a:focus{
  color: #d81b60;
}
.btn-common {
  background: #d81b60;
}
.btn-common:hover, .btn-common:focus{
  background: #d81b60;
}
.btn-border{
  color: #FF4F57;;
}
/* Back to Top */
.back-to-top i {
  background-color: #d81b60;
}
#color-style-switcher .bottom a i{
  color: #FF4F57;
}
/* Navbar */
.slicknav_btn{
  border-color: #FF4F57;
  border-radius: 2px;
}
.slicknav_menu .slicknav_btn .slicknav_icon-bar{
  background: #FF4F57;
}
.slicknav_menu .slicknav_btn:hover{
  background: #FF4F57;
}
.slicknav_nav .active a{
  background: #FF4F57;
}
.slicknav_nav a:hover, .slicknav_nav .active{
  color: #FF4F57;
}
.slicknav_nav .dropdown li a.active{
  background: #FF4F57;
}
.tbtn{
  background: #FF4F57;
}
/* Navbar */
.navbar-default.affix .float-right li a{
  color: #fff!important;
  border-color: #d81b60;
  background-color: #d81b60;
}
.navbar-default.affix .float-right li a:hover{
  background: #d81b60;
}
.navbar-default .float-right li a:hover{
  border-color: #FF4F57;
}
.main-navigation .float-right li a{
  border-color: #FF4F57;
  color: #FF4F57!important;
}
.navbar-default .navbar-nav > li:hover > a, .navbar-default .navbar-nav > li > a.active{
  background: #d81b60;
}
.navbar-default .navbar-nav .dropdown{
  border-color: #FF4F57;
}
.dropdown > li:hover > a{
  background-color: #d81b60;
}
.dropdown > li:hover > a{
  background-color: #d81b60;
  color: #fff;
}
.dropdown li a.active, .sup-dropdown li a.active{
  background-color: #d81b60;
  color: #fff;
}
.dropdown-menu li a:hover, .dropdown-menu li a:focus, .dropdown-menu li a:active{
  background: #d81b60;
}
.btn-search-icon{
  background: #d81b60;
}
.popular-jobs a:hover{
  background:  #d81b60;
  border-color:  #d81b60; 
}
.full-time{
  background: #FF4F57;
}
.job-list .job-tag .icon{
  color: #FF4F57;
}
.find-job .showing a span{
  color: #FF4F57;
}
.job-list .job-tag .meta-tag span a:hover{
  color: #FF4F57;
}
.pagination .active > a, .pagination .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover{
  background: #FF4F57!important;
}
.pagination .active > a, .pagination .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover{
  background-color: #FF4F57!important;
  border-color: #FF4F57!important;
}
.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover{
  background-color: #FF4F57!important;
  border-color: #FF4F57!important;
}
.category{
  background: #FF4F57;
}
.f-category .icon i{
  color: #FF4F57;
}
.featured-jobs .item-foot .view-iocn a{
  background: #FF4F57;
}
.owl-theme .owl-controls .owl-buttons div{
  background: #FF4F57!important;
}
.counting .icon i{
  color: #FF4F57;
}
.counting .desc h2::after{
  background: #FF4F57;
}
.infobox{
  background: #FF4F57;
}
.bottom-social-icons a{
  background: #d81b60;
  color: #fff;
}
.subscribe-box input[type="submit"]{
  background: #d81b60;
}
footer .menu li a:hover{
  color: #FF4F57;
}
#copyright p a:hover{
  color: #FF4F57;
}

/* ==========================================================================
 Pages Color Start
 ========================================================================== */
 .find-job .nav-tabs > li.active > a, .find-job .nav-tabs > li.active > a:focus, .find-job .nav-tabs > li.active > a:hover{
  background: #fff;
  color: #d81b60;
  border-color:#fff;
  border-bottom-color:#d81b60;
 }
 .find-job .nav-tabs > li > a{
  color: #d81b60;
  /*border-color: #d81b60!important;*/
 }
 .find-job .nav > li > a:focus, .find-job .nav > li > a:hover{
  background-color: #d81b60;
 }
 .breadcrumb{
  color: #FF4F57;
 }
 .medium-title::before{
  border-bottom: 2px solid #FF4F57;
 }
 .service-item .icon-wrapper i{
  color: #FF4F57;
 }
 .job-detail .text-left .meta span i{
  color: #FF4F57;
 }
 .job-detail .text-left .price i{
  color: #FF4F57;
 }
 .job-detail .clearfix ul li i{
  color: #FF4F57;
 }
.job-detail .sidebar .text-box h4 a{
  color: #FF4F57;
}
.job-detail .sidebar .text-box a.text i{
  color: #FF4F57;
}
.job-detail .sidebar .text-box strong.price i{
  color: #FF4F57;
}
.job-detail .sidebar .sidebar-jobs ul li span i{
  color: #FF4F57;
}
.right-sideabr .lest li a.active{
  color: #FF4F57;
}
.right-sideabr .lest li a:hover{
  color: #FF4F57; 
}
.right-sideabr .lest .notinumber{
  background: #FF4F57;
}
.panel-default .panel-heading{
  background: #FF4F57!important;
  border: #FF4F57;
}
#pricing-table .table .pricing-header .price-value{
  color: #FF4F57;
}
#pricing-table #active-tb .pricing-header{
  background: #FF4F57;
}
#pricing-table .table:hover .pricing-header{
  background: #FF4F57;
}
.form-control:focus, textarea:focus{
  border-color: #FF4F57;
}
.all-categories ul li a:hover{
  color: #FF4F57;
}
.post-header a{
  color: #FF4F57;
}
.close i{
  background: #FF4F57;
}
.blog-post .post-content .meta .meta-part a:hover,
.blog-post .post-content .meta .meta-part a:focus{
  color: #FF4F57;
}
.widget-title{
  border-bottom-color: #d81b60;
}
.widget-title::before{
  border-bottom-color: #FF4F57;
}
#sidebar .cat-list li a:hover{
  color: #FF4F57;
}
#sidebar .tag a{
  background: #FF4F57;
}
blockquote{
  background: #FF4F57;
}
.reply-link{
  color: #FF4F57;
}
.tp-bullets.preview3 .bullet:hover, .tp-bullets.preview3 .bullet.selected{
  border-color: #FF4F57!important;
}
.tparrows.preview3:hover:after{
  background: #FF4F57!important;
}
.tparrows.preview3:hover:after{color:#fff}